@model IEnumerable<Order>
@{
    ViewData["Title"] = "List";
    Layout = "_AdminLayout";
}

<h2>List</h2>
<div class="container">
@if(Model.Count()>0)
{
    <table class="table table-dark table-striped">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            
            <th colspan="3">Details</th>
        </tr>
        @foreach(Order order in Model)
        {
            <tr>
                <td>@order.Name</td>
                <td>@order.Phone</td>
                <td>Product</td>
                <td>Quantity</td>
                <td>
                    <form asp-action="MarkShipped" method="post">
                      <input type="hidden" name="orderId" value="@order.OrderId" />
                       <button type="submit" class="btn btn-primary">Ship</button>
                    </form>
                </td>
            </tr>
            @foreach (CartLine cartLine in order.lines)
            {
                <tr>
                    <td colspan="2"></td>
                    <th>@cartLine.Product.NameProduct</th>
                    <th>@cartLine.Quantity</th>
                    <td colspan="1"></td>
                </tr>
            }
        }
    </table>
}
else
{
    <div class="text-center">No correcly Orders</div>
}
</div>